<h1>Stupid Coaching</h1>
<div class="container">
  <%= params[:question] %>
  <p><em>-You</em></p>
</div>
<div class="container yellow-background">
  <%= @answer %>
  <p><em>-Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
