// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 40px;
}

input {
  font-size: 20px;
  padding: 10px;
  border: 1px solid grey;
}

a {
  text-decoration: none;
}

#button {
  color: white;
  background-color: #00509d;
  border: none;
}

.border-rounded {
  border-radius: 4px;
}

.container {
  border-left: 4px solid grey;
  height: 80px;
  margin: 20px;
}

.yellow-background {
  background-color: rgba(255, 248, 165, 0.4);
}

